
body{
    background-color:hsl(212, 45%, 89%) ; 

}
.text-container
{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    width: 330px; /* Set the width of the container */
    height: 520px; /* Set the height of the container */
    margin: auto; /* Center the container horizontally */
    border: 1px solid black;
    /*display: flex;  Use flexbox to center the image vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 20px;
    overflow: hidden;
}

.improve 
{
    padding: 25px 20px ; 
    font-size: 20px ; 
    font-weight: bold ; 
    display: flex ; 
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    text-align: center;
}
.qr-prompt
{
    padding: 5px 20px ; 
    font-size: 15px ;
    color: gray;
    display: flex ; 
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    text-align: center;
}

.image-container {
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
    margin: 10px auto; /* Center the container horizontally */
    border: 1px solid black; /* Add a border around the container */
    display: flex; /* Use flexbox to center the image vertically */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border-radius: 20px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
}

.attribution 
{
    padding: 5px ; 
     
}